<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213615625736-ous6025jq9n7nfei2r49uiot8rhplvjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213615625736-ous6025jq9n7nfei2r49uiot8rhplvjm</string>
	<key>API_KEY</key>
	<string>AIzaSyCqH0_S3ExBvgFXmJx77yzdx845nfrknuQ</string>
	<key>GCM_SENDER_ID</key>
	<string>213615625736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.godo.robt</string>
	<key>PROJECT_ID</key>
	<string>robt-e2977</string>
	<key>STORAGE_BUCKET</key>
	<string>robt-e2977.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213615625736:ios:cf3d730c2ca54ecfc073bd</string>
</dict>
</plist>